In [2]:
import pandas as pd

In [3]:
data = {
    "Name": ["Harsh", "Ashwini", "Ravi", "Priya"],
    "Age": [22, 17, 25, 19],
    "City": ["Ranchi", "Delhi", "Mumbai", "Pune"]
}

df = pd.DataFrame(data)

print(df)

      Name  Age    City
0    Harsh   22  Ranchi
1  Ashwini   17   Delhi
2     Ravi   25  Mumbai
3    Priya   19    Pune

In [4]:
print(df["Name"])

0      Harsh
1    Ashwini
2       Ravi
3      Priya
Name: Name, dtype: object

In [5]:
print(df[["Name", "Age"]])

      Name  Age
0    Harsh   22
1  Ashwini   17
2     Ravi   25
3    Priya   19

In [6]:
print("Adult")
print(df[df["Age"] >= 18])

Adult
    Name  Age    City
0  Harsh   22  Ranchi
2   Ravi   25  Mumbai
3  Priya   19    Pune

In [7]:
df["Adult"] = df["Age"] >= 18
print(df)

      Name  Age    City  Adult
0    Harsh   22  Ranchi   True
1  Ashwini   17   Delhi  False
2     Ravi   25  Mumbai   True
3    Priya   19    Pune   True

In [8]:
print(df.describe())

         Age
count   4.00
mean   20.75
std     3.50
min    17.00
25%    18.50
50%    20.50
75%    22.75
max    25.00

In [9]:
print(df.sort_values(by="Age"))

      Name  Age    City  Adult
1  Ashwini   17   Delhi  False
3    Priya   19    Pune   True
0    Harsh   22  Ranchi   True
2     Ravi   25  Mumbai   True

In [10]:
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Age": [25, 32, 37, 29, 41],
    "Department": ["HR", "IT", "Finance", "IT", "Finance"],
    "Salary": [50000, 60000, 75000, 62000, 80000]
}

df = pd.DataFrame(data)
print(df)

      Name  Age Department  Salary
0    Alice   25         HR   50000
1      Bob   32         IT   60000
2  Charlie   37    Finance   75000
3    David   29         IT   62000
4      Eve   41    Finance   80000

In [11]:
print(df['Age'])
print(df[df["Department"] == 'IT'])

0    25
1    32
2    37
3    29
4    41
Name: Age, dtype: int64
    Name  Age Department  Salary
1    Bob   32         IT   60000
3  David   29         IT   62000

In [12]:
print(df[df["Department"] == "Finance"][["Salary"]])

   Salary
2   75000
4   80000

In [13]:
avg_salary = df.groupby('Department')['Salary'].mean()
print(avg_salary)

Department
Finance    77500.0
HR         50000.0
IT         61000.0
Name: Salary, dtype: float64

In [14]:
print(df.groupby("Department")["Age"].agg(["mean", "max"]))

            mean  max
Department
Finance     39.0   41
HR          25.0   25
IT          30.5   32

In [15]:
s = pd.Series([12,24,36,48], index = ['a','b','c','d'])
print(s)

a    12
b    24
c    36
d    48
dtype: int64

In [16]:
data2 = pd.DataFrame([
    {"Name" : "Harsh", "Age" : 22, "City" : "Ranchi"},
    {"Name" : "Ashwini", "Age" : 17 , "City" : "Bokaro"},
    {"Name" : "Rashmi", "Age" : 44, "City" : "Hazaribagh"}
])

print(data2)

      Name  Age        City
0    Harsh   22      Ranchi
1  Ashwini   17      Bokaro
2   Rashmi   44  Hazaribagh

In [20]:
print(data2.iloc[0])  
print(data2.loc[1])

Name     Harsh
Age         22
City    Ranchi
Name: 0, dtype: object
Name    Ashwini
Age          17
City     Bokaro
Name: 1, dtype: object

In [23]:
print(data2["Age"])

print(data2.iloc[1])

print(data2[data2["Age"] < 30])

0    22
1    17
2    44
Name: Age, dtype: int64
Name    Ashwini
Age          17
City     Bokaro
Name: 1, dtype: object
      Name  Age    City
0    Harsh   22  Ranchi
1  Ashwini   17  Bokaro

In [25]:
data = pd.DataFrame([
    {"Name": "Harsh", "Department": "IT", "Salary": 60000, "Age": 22},
    {"Name": "Ashwini", "Department": "HR", "Salary": 45000, "Age": 25},
    {"Name": "Rashmi", "Department": "Finance", "Salary": 70000, "Age": 44},
    {"Name": "Ankit", "Department": "IT", "Salary": 65000, "Age": 28},
    {"Name": "Priya", "Department": "Finance", "Salary": 72000, "Age": 35},
    {"Name": "Amit", "Department": "HR", "Salary": 48000, "Age": 31},
    {"Name": "Sneha", "Department": "IT", "Salary": 55000, "Age": 26},
])

In [ ]:
print(data.groupby("Department").avg())

print(data.groupby("Department").max())

print(data.groupby("Department").count())

print(data.groupby)